.version.contactenos /* version checker */
{
	color: #0000FE;
	background-color: #18728A;
}

.html
{
	background: #FFFFFF url("../images/p1020037.jpg") no-repeat center center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 956px;
	min-height: 774.9000000000003px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 1px;
	padding-bottom: 9px;
	width: 0.01px;
}

#pu93
{
	width: 0.01px;
}

#u93
{
	z-index: 26;
	width: 162px;
	margin-right: -10000px;
}

#u99
{
	z-index: 2;
	width: 787px;
	margin-right: -10000px;
	left: 169px;
}

#u99_position_content
{
	margin-bottom: -13px;
	padding-top: 19px;
}

#ppu135-4
{
	width: 0.01px;
	margin-left: 16px;
}

#pu135-4
{
	width: 0.01px;
	margin-right: -10000px;
}

#u135-4
{
	z-index: 4;
	width: 154px;
	min-height: 19px;
	margin-left: 5px;
}

#u2265
{
	z-index: 28;
	width: 537px;
	height: 6px;
	margin-top: 3px;
}

#u798-6
{
	z-index: 20;
	width: 200px;
	margin-left: 5px;
	margin-top: 5px;
}

#u778
{
	z-index: 18;
	width: 52px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 589px;
}

#u766
{
	z-index: 14;
	width: 53px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 646px;
}

#u772
{
	z-index: 16;
	width: 52px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 705px;
}

#menuu2712
{
	z-index: 29;
	width: 536px;
	margin-left: 231px;
	margin-top: 6px;
}

#u2713
{
	width: 132px;
	min-height: 26px;
	margin-right: -10000px;
}

#u2716
{
	width: 128px;
	padding-bottom: 5px;
}

#u2716:hover
{
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u2716:active
{
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u2719-4
{
	width: 128px;
	min-height: 17px;
	margin-right: -10000px;
	top: 2px;
}

#u2716:hover #u2719-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u2716:active #u2719-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u2720
{
	width: 132px;
	min-height: 26px;
	margin-right: -10000px;
	left: 134px;
}

#u2721
{
	width: 128px;
	padding-bottom: 5px;
}

#u2716.MuseMenuActive,#u2721:hover
{
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u2721:active
{
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u2721.MuseMenuActive
{
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u2724-4
{
	width: 128px;
	min-height: 17px;
	margin-right: -10000px;
	top: 2px;
}

#u2716.MuseMenuActive #u2719-4,#u2721:hover #u2724-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u2721:active #u2724-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u2721.MuseMenuActive #u2724-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u2727
{
	width: 133px;
	min-height: 26px;
	margin-right: -10000px;
	left: 268px;
}

#u2730
{
	width: 129px;
	padding-bottom: 5px;
}

#u2730:hover
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u2730:active
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u2732-4
{
	width: 129px;
	min-height: 17px;
	margin-right: -10000px;
	top: 2px;
}

#u2730:hover #u2732-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 129px;
	margin: 0px -10000px 0px 0px;
}

#u2730:active #u2732-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 129px;
	margin: 0px -10000px 0px 0px;
}

#u2734
{
	width: 133px;
	min-height: 26px;
	margin-right: -10000px;
	left: 403px;
}

#u2735
{
	width: 129px;
	padding-bottom: 5px;
}

#u2730.MuseMenuActive,#u2735:hover
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u2735:active
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u2735.MuseMenuActive
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u2738-4
{
	width: 129px;
	min-height: 17px;
	margin-right: -10000px;
	top: 2px;
}

#u2730.MuseMenuActive #u2732-4,#u2735:hover #u2738-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 129px;
	margin: 0px -10000px 0px 0px;
}

#u2735:active #u2738-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 129px;
	margin: 0px -10000px 0px 0px;
}

#u2735.MuseMenuActive #u2738-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 129px;
	margin: 0px -10000px 0px 0px;
}

#slideshowu3474
{
	z-index: 54;
	width: 0.01px;
	height: 555px;
	margin-left: 3px;
	margin-top: 22px;
	position: relative;
}

#u3490
{
	position: absolute;
	width: 953px;
	height: 555px;
	background-color: transparent;
}

#u3490popup
{
	z-index: 55;
}

#u3491
{
	z-index: 56;
	width: 953px;
	height: 555px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.ie #u3491
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u3537
{
	z-index: 57;
	width: 484px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.62);
	padding-bottom: 10px;
	margin-left: 20px;
	top: -173px;
	margin-bottom: -140px;
	position: relative;
	-pie-background: rgba(255,255,255,0.62);
}

#u3522
{
	z-index: 58;
	width: 201px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 27px;
}

#u3538-12
{
	z-index: 60;
	width: 190px;
	min-height: 94px;
	background-color: transparent;
	font-size: 14px;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 258px;
}

#u3538-2,#u3538-8
{
	font-weight: bold;
}

#u134
{
	z-index: 3;
	width: 956px;
	padding-bottom: 21px;
	margin-top: 17px;
}

#u759-6
{
	z-index: 8;
	width: 916px;
	min-height: 30px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 20px;
}

body
{
	position: relative;
	min-width: 956px;
	padding-top: 10px;
}

