.version.index /* version checker */
{
	color: #000012;
	background-color: #25AA45;
}

.html
{
	background: #000000 url("../images/p1020016.jpg") no-repeat left bottom scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 956px;
	min-height: 575.8499999999999px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 1px;
	padding-bottom: 9px;
	width: 0.01px;
}

#pu93
{
	width: 0.01px;
}

#u93
{
	z-index: 26;
	width: 162px;
	margin-right: -10000px;
}

#u99
{
	z-index: 2;
	width: 787px;
	margin-right: -10000px;
	left: 169px;
}

#u99_position_content
{
	margin-bottom: -13px;
	padding-top: 19px;
}

#ppu135-4
{
	width: 0.01px;
	margin-left: 16px;
}

#u135-4
{
	z-index: 4;
	width: 154px;
	min-height: 19px;
	margin-left: 5px;
}

#u2265
{
	z-index: 28;
	width: 537px;
	height: 6px;
	margin-top: 3px;
}

#u798-6
{
	z-index: 20;
	width: 200px;
	margin-left: 5px;
	margin-top: 5px;
}

#u778
{
	z-index: 18;
	width: 52px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 589px;
}

#u766
{
	z-index: 14;
	width: 53px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 646px;
}

#u772
{
	z-index: 16;
	width: 52px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 705px;
}

#menuu2712
{
	z-index: 29;
	width: 536px;
	margin-left: 231px;
	margin-top: 6px;
}

#u2713
{
	width: 132px;
	min-height: 26px;
	margin-right: -10000px;
}

#u2716
{
	width: 128px;
	padding-bottom: 5px;
}

#u2716:hover
{
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u2716:active
{
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u2719-4
{
	width: 128px;
	min-height: 17px;
	margin-right: -10000px;
	top: 2px;
}

#u2716:hover #u2719-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u2716:active #u2719-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u2720
{
	width: 132px;
	min-height: 26px;
	margin-right: -10000px;
	left: 134px;
}

#u2721
{
	width: 128px;
	padding-bottom: 5px;
}

#u2716.MuseMenuActive,#u2721:hover
{
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u2721:active
{
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u2721.MuseMenuActive
{
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u2724-4
{
	width: 128px;
	min-height: 17px;
	margin-right: -10000px;
	top: 2px;
}

#u2716.MuseMenuActive #u2719-4,#u2721:hover #u2724-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u2721:active #u2724-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u2721.MuseMenuActive #u2724-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u2727
{
	width: 133px;
	min-height: 26px;
	margin-right: -10000px;
	left: 268px;
}

#u2730
{
	width: 129px;
	padding-bottom: 5px;
}

#u2730:hover
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u2730:active
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u2732-4
{
	width: 129px;
	min-height: 17px;
	margin-right: -10000px;
	top: 2px;
}

#u2730:hover #u2732-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 129px;
	margin: 0px -10000px 0px 0px;
}

#u2730:active #u2732-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 129px;
	margin: 0px -10000px 0px 0px;
}

#u2734
{
	width: 133px;
	min-height: 26px;
	margin-right: -10000px;
	left: 403px;
}

#u2735
{
	width: 129px;
	padding-bottom: 5px;
}

#u2730.MuseMenuActive,#u2735:hover
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u2735:active
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u2735.MuseMenuActive
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u2738-4
{
	width: 129px;
	min-height: 17px;
	margin-right: -10000px;
	top: 2px;
}

#u2730.MuseMenuActive #u2732-4,#u2735:hover #u2738-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 129px;
	margin: 0px -10000px 0px 0px;
}

#u2735:active #u2738-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 129px;
	margin: 0px -10000px 0px 0px;
}

#u2735.MuseMenuActive #u2738-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 129px;
	margin: 0px -10000px 0px 0px;
}

#pu3013
{
	width: 0.01px;
	margin-top: 22px;
}

#u3013
{
	z-index: 54;
	width: 916px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.65);
	position: relative;
	margin-right: -10000px;
	padding: 306px 20px 18.81825724541943px;
	-pie-background: rgba(255,255,255,0.65);
}

#ppu2511
{
	width: 0.01px;
	margin-left: 21px;
}

#pu135-4,#pu2511
{
	width: 0.01px;
	margin-right: -10000px;
}

#u2511
{
	z-index: 81;
	width: 183px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	position: relative;
}

#u2461-22
{
	z-index: 85;
	width: 292px;
	min-height: 109px;
	border-color: #FFFFFF;
	background-color: transparent;
	text-align: left;
	color: #000000;
	font-style: italic;
	margin-left: 57px;
	margin-top: 10px;
	position: relative;
}

#u2461-2
{
	padding-bottom: 5px;
	font-weight: bold;
}

#u2463-7
{
	z-index: 58;
	width: 284px;
	min-height: 44px;
	border-color: #FFFFFF;
	background-color: transparent;
	text-align: left;
	color: #000000;
	margin-left: 115px;
	margin-top: 4px;
	position: relative;
}

#u2463-2
{
	font-style: italic;
}

#u2463-5
{
	padding-bottom: 5px;
	font-style: italic;
}

#u2451
{
	z-index: 55;
	width: 480px;
	min-height: 327px;
	border-style: none;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 415px;
}

#u2464-10
{
	z-index: 65;
	width: 284px;
	min-height: 83px;
	border-color: #FFFFFF;
	background-color: transparent;
	text-align: left;
	color: #000000;
	font-style: italic;
	margin-left: 136px;
	margin-top: 5px;
	position: relative;
}

#u2463-3,#u2464-2
{
	font-size: 14px;
	font-weight: bold;
}

#u2461-4,#u2461-6,#u2461-8,#u2461-10,#u2461-12,#u2461-14,#u2461-16,#u2461-18,#u2461-20,#u2464-4,#u2464-6,#u2464-8
{
	padding-bottom: 5px;
}

#u2538
{
	z-index: 83;
	width: 915px;
	background-color: transparent;
	margin-top: 18px;
	position: relative;
}

#u2538_clip
{
	overflow: hidden;
	width: 915px;
	height: 134px;
}

#u2538_img
{
	margin-top: -13px;
	margin-bottom: -13px;
}

#u2455
{
	z-index: 56;
	width: 480px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 642px;
	left: 457px;
}

#slideshowu2465
{
	z-index: 75;
	width: 0.01px;
	height: 289px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u2472
{
	position: absolute;
	width: 956px;
	height: 289px;
	background-color: transparent;
}

#u2472popup
{
	z-index: 76;
}

#u2922
{
	z-index: 77;
	width: 956px;
	height: 289px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2922_img
{
	padding-top: 7px;
	padding-bottom: 7px;
}

#u3617
{
	z-index: 79;
	width: 956px;
	height: 289px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u134
{
	z-index: 3;
	width: 956px;
	padding-bottom: 21px;
	margin-top: 6px;
}

#u759-6
{
	z-index: 8;
	width: 916px;
	min-height: 30px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 20px;
}

body
{
	position: relative;
	min-width: 956px;
	padding-top: 10px;
}

